.create-tournament{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.make-team{
  width: 50%;
  padding: 0 5%;
  margin-top: 30px;
}

.create-tournament article{
  width: 50%;
  padding: 0 5%;
  height: auto;
  background-color: #EAEAEA;
  height: 90vh;
  color: #202024;
  position: relative;
  overflow: hidden;
}

article span{
  color: #D56327;
  text-transform: uppercase;
}

article .trophy{
  width: 20%;
  margin: 6em auto;
}

@media (max-width: 736px) {
  .create-tournament{
    flex-direction: column;
  }

  .create-tournament article{
    width: 100%;
    height: auto;
  }

  .trophy{
    display: none;
  }

  .make-team{
    width: 100%;
    padding-bottom: 5%;
  }
}
