.register-team{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

article{
  width: 40%;
}

.register-form{
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:25px 0 45px;
  justify-content: space-between;
}

.register-form button{
  width: 60%;
}

.teamName{
  width: 100%;
}

.player-field-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name{
  width: 70%;
}

.jersey{
  width: 20%;
}

.name, .jersey, .teamName{
  display: flex;
  flex-direction: column;
}
