.home{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home-nav{
  width: 100%;
  margin: 0 auto;
}

.home-nav-info{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.home-nav-card-1,
.home-nav-card-2,
.home-nav-card-3{
  width: 33.3vw;
  overflow: auto;
  height: 90vh;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  font-size:25px;
}

.home-nav-card-1:hover{
  background-image: url(../../img/create-t.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-nav-card-2:hover{
  background-image: url(../../img/team-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-nav-card-3:hover{
  background-image: url(../../img/settings.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h4{
  text-align: center;
}

.intro-paragraph{
  width: 40%;
  height: auto;
  margin:10em auto;
}

.intro-paragraph h3{
  line-height: 1.6;
}

.user-btns{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-btns button{
  width:20%;
  margin: 20px 40% 0;
}
