nav{
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: #b3b3b3;
  position: relative;
}

nav h1{
  font-size: 55px;
  color: #703ca6;
}

ul{
  width: 30%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  top: 0;
}

li{
  cursor: pointer
}
