.tournament{
  width: 100%;
  height: auto;
  padding: 0.7em 5%;
  display: -ms-flexbox;
  display: flex;
  background-color: #27272C;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.tournament-nav{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.tournament-nav button{
  margin: 0;
}

.tournament-stats{
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.tournament-stats main{
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.stats{
  width: 32%;
  background-color: #27272C;
  border: 3px solid #27272C;
  padding-bottom: 1em;
}

.stats h2{
  text-align: center;
}

.stats:hover{
  border-color: #D56327;
}

.team-stats{
  width: 100%;
  display: flex;
}

.banner{
  color: #D56327;
  margin-bottm: 1em;
}

.team-pos{
  width: 5%;
  padding-left: 1em;
}

.team-name{
  width: 55%;
  padding-left: 3em;
}

.team-goals, .team-points{
  width: 20%;
  padding-right: 1em;
  text-align: right;
}

.team-goals{
  border-right: 1px solid #D56327;
  border-left: 1px solid #D56327;
}

.week{
  width: 100%;
  cursor: pointer;
  padding: 0 2em;
  transition: all .25 ease
}

.week:hover{
  background-color: #D56327;
}

.match{
  width: 100%;
  padding: 0 2em;
  transition: all .25 ease
}

.match button{
  margin: 0;
  width: 20%;
}

@media (min-width: 768px) {
  .tournament-nav{
    width: 89%;
  }

  .match button{
    width: 44%;
  }

  .banner{
    font: 12px;
  }
}

@media (max-width: 768px) {
  .tournament-nav{
    width: 95%;
  }

  .match button{
    width: 50%;
  }
}

@media (max-width: 736px) {
  .tournament-stats main{
    flex-direction: column;
  }

  .stats{
    width: 100%;
    margin-bottom: 20px;
  }
}
