.tournament{
  width: 100%;
  height: auto;
  padding: 2em 1em;
  display: flex;
  background-color: #342B3A;
  justify-content: space-between;
}

.tournament-nav{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.tournament-nav button{
  margin: 0;
}

.tournament-stats{
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.stats{
  width: 32%;
  background-color: #342B3A;
}

.stats h2{
  text-align: center;
}

.stats:hover{
  background-color: #673787;
}

.team-stats{
  width: 100%;
  display: flex;
}

.banner{
  color: rgb(189, 158, 26);
  margin-bottm: 1em;
}

.team-pos{
  width: 5%;
  padding-left: 1em;
}

.team-name{
  width: 55%;
  padding-left: 3em;
}

.team-goals, .team-points{
  width: 20%;
  padding-right: 1em;
  text-align: right;
}

.team-goals{
  border-right: 1px solid rgb(189, 158, 26);
  border-left: 1px solid rgb(189, 158, 26);
}

.week{
  width: 100%;
  cursor: pointer;
  padding: 0 2em;
  transition: all .25 ease
}

.week:hover{
  background-color: rgb(189, 158, 26);
}

.match{
  width: 100%;
  padding: 0 2em;
  transition: all .25 ease
}

.match button{
  margin: 0;
  width: 20%;
}
