.user-profile{
  color: white;
}

.user-profile h1{
  text-align: left;
}

.userInfo b{
  color: #F89633;
}

.update-user form{
  width: 40%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
}

.update-user label{
  margin-top: 25px;
  margin-bottom: 10px;
  color: #F89633;
}

.update-user form button{
  width: 40%;
  margin-top: 45px;
}

.tourny{
  width: 100%;
  height: auto;
  display: flex;
  padding: 2em 2em;
  align-items: center;
  background-color: #342B3A;
  margin: 20px 0 10px;
}

.tourny-number{
  width: 10%
}

.tourny-name{
  width: 70%
}

.tourny-actions{
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tourny-actions button{
  width: 100%
}

.no-teams{
  color: #826d93;
  margin-top: 6em;
}
